@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;
}

.todo-wrapper {
  background: #3a3a3a;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #a83636;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #a83636;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a83636;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  align-content: center;
  animation: 0.8s alternate slidein;
}

@keyframes slidein {
  from {
    margin-top: 10%;
  }

  to {
    margin-top: 0%;
  }
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.img {
  width: 20px;
  margin-right: 10px;

}

.img2 {
  width: 18px;
  margin-top: 5px;
  margin-right: 3px;
}

p {
  inline-size: 275px;
  overflow-wrap: break-word;
}